@import "tailwindcss";

@import './fonts.css';

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.bg-main {
  background-color: #ff6347;
}

.text-main {
  color: #ff6347;
}

.neue-light {
  font-family: 'NeueMachina', sans-serif;
  font-weight: 300;
}

.neue-regular {
  font-family: 'NeueMachina', sans-serif;
  font-weight: 400;
}

.neue-bold {
  font-family: 'NeueMachina', sans-serif;
  font-weight: 800;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}